<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Create User</h1>
<form id="createUserForm" method="post" action="{{ url_for('user_controller.create_user') }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

<h1>Get User</h1>
<form id="getUserForm" method="get" action="{{ url_for('user_controller.get_user', username=username) }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <input type="submit" value="Submit">
</form>

<h1>Update User</h1>
<form id="updateUserForm" method="post" action="{{ url_for('user_controller.update_user', username=username) }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

<h1>Delete User</h1>
<form id="deleteUserForm" method="post" action="{{ url_for('user_controller.delete_user', username=username) }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <input type="submit" value="Submit">
</form>

<script src="../static/js/alertFunctions.js"></script>
</body>
</html>